USE [master]
GO
/****** Object:  Database [PRUEBA]    Script Date: 23/03/2024 19:18:07 ******/
CREATE DATABASE [PRUEBA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRUEBA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRUEBA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRUEBA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRUEBA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRUEBA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRUEBA]
GO
/****** Object:  Table [dbo].[ARTISTAS]    Script Date: 23/03/2024 19:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTISTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Foto] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARTISTAS] ON 

INSERT [dbo].[ARTISTAS] ([ID], [Nombre], [Foto]) VALUES (1, N'coldplay', N'coldplay.jpeg')
INSERT [dbo].[ARTISTAS] ([ID], [Nombre], [Foto]) VALUES (2, N'daftpunk', N'daftpunk.jpeg')
INSERT [dbo].[ARTISTAS] ([ID], [Nombre], [Foto]) VALUES (3, N'ericclapton', N'ericclapton.jpeg')
SET IDENTITY_INSERT [dbo].[ARTISTAS] OFF
GO
USE [master]
GO
